// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #222;
  color: #636b6f;
  font-family: $font-family-sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.twitch-embed-wrapper {
  min-height: 60vh;
  min-width: 100%;
}

#twitch-embed iframe {
  max-width: 100%;
}

.event-card-bg, .event-card-shader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-size: cover;
}

.event-card-shader {
  z-index: 5;
  background-color: #000000AA;
}

.event-card-text {
  z-index: 10;
  position: relative;
  color: white;
}

.event-list {
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px;
  grid-column-gap: 5px;
  grid-row-gap: 8px;
}

.event-list li {
  list-style: none;
  display: inline-block;

}

.event-card {
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: 150px;
  border: 1px solid #555;
  box-shadow: 3px 2px 4px 2px #221;
}

.error-message {
  color: red;
}

.btn-twitch {
  background-color: $twitch;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-twitch:hover {
  background-color: #7552B5;
  color: white;
}

.btn-twitch-dashboard {
  padding: 5px 5px;
  font-size: 12px;
  height: 50px;
  margin-top: 8px;
}

.channel-switch-dashboard {
  border: 0px !important;
  border-radius: 0px !important;
}

.login-label {
  color: #EEE;
}

input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: #222;
  color: #DDD;
  height: 50px;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 4px 0 dodgerBlue;
  background-color: #111;
  color: white;
}

.logout {
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 18px;
}


//Vue fade transition
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.event-list-row {
  background-color: #333;
  min-height: 150px;
  text-align: center;
  padding: 20px;
  color: white;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

.no-events-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}


@media only screen and (max-width: 600px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .event-list {
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px;
    grid-column-gap: 5px;
    grid-row-gap: 8px;
  }

  .event-card-text h2 {
    font-size: 15px;
  }

  .card-body {
    padding: 5px;
  }

  .py-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .dashboard-text {
    padding: 5px;
    padding-left: 15px;
  }

  body {
    overflow-x: hidden;
  }
}