<template>
    <div>
        <hr>
        <h2 class="dashboard-text">Channel Events</h2>
        <twitch-event-list :events="targetChannelEvents"></twitch-event-list>
    </div>
</template>

<script>
    export default {
        props: ['authorization', 'accept', 'client-id', 'channel'],
        data: function () {
            return {
                targetChannelUsername: this.channel,
                targetChannelId: null,
                targetChannelEvents: {}
            }
        },
        methods: {
            getChannelId: function (username) {
                return new Promise((resolve, reject) => {
                    console.log("Loading channel ID");
                    let targetChannelUrl = 'https://api.twitch.tv/kraken/users?login=' + username;

                    axios
                        .get(targetChannelUrl, {headers: this.requestHeaders})
                        .then(response => {
                            this.targetChannelId = response.data.users[0]._id;

                            resolve(this.targetChannelId);
                        })
                        .catch((error) => {
                            console.log('Error getting channel ID ' + error);

                            reject(-1);
                        });
                });
            },
            getChannelEvents: function (channelId) {
                console.log("Loading events");
                let eventsUrl = 'https://api.twitch.tv/v5/channels/' + channelId + '/events';

                console.log(eventsUrl);

                axios
                    .get(eventsUrl, {headers: this.requestHeaders})
                    .then(response => {
                        this.targetChannelEvents = response.data.events;
                    })
                    .catch((error) => {
                        console.log('Error loading channel events ' + error);
                    });
            }
        },
        computed: {
            requestHeaders: function () {
                return {
                    'Accept': this.accept,
                    'Client-ID': this.clientId,
                    // 'Authorization': this.authorization
                }
            }
        },
        mounted() {
            console.log('Loaded Twitch Event Manager.');
            this.getChannelId(this.targetChannelUsername).then(result => {
                console.log(result);
                this.getChannelEvents(result)
            });
        }
    }
</script>