<template>
    <div class="container">
        <div class="card">
            <div class="card-body">

                <h4 class="dashboard-text">
                    Welcome, <b>{{name}}</b>. You are now watching
                    <b v-if="name != channel">{{channel}}</b>
                    <b v-else>yourself</b>.
                </h4>

                <div class="twitch-embed-wrapper" ref="embedWrapper">
                    <!-- Placeholder for the Twitch embed -->
                    <div id="twitch-embed"></div>
                </div>
                    <hr>
                    <label for="channel"><h3 class="dashboard-text">Watch something else?</h3></label>
                    <transition name="fade">
                        <p class="error-message" v-if="errorMessage">
                            {{errorMessage}}
                        </p>
                    </transition>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control channel-switch-dashboard" id="channel"
                               placeholder="Pick a channel..." required="required" v-model="newChannel"/>
                        <div class="input-group-append">
                            <button v-on:click="switchChannel" class="btn btn-twitch btn-twitch-dashboard">Switch
                                channel <i class="fa fa-twitch"></i></button>
                        </div>
                    </div>

                <hr>

                <div v-if="this.embedLoaded">
                <twitch-event-manager
                        :channel="this.channel"
                        :client-id="this.clientId"
                        accept="application/vnd.twitchtv.v5+json"
                ></twitch-event-manager>
                </div>
            </div>

                <hr>
                <a href="#" @click=logout class="logout">
                    <i class="fa fa-key"></i> <b>Log out</b>
                </a>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.channel =  localStorage.getItem('twitch-channel');
        },
        data: function () {
            return {
                newChannel: "",
                errorMessage: "",
                channel: null,
                embedLoaded: false
            }
        },
        watch: {
            channel: function(val) {
                if (val != null) {
                    this.loadEmbed();
                }
            }
         },
        props: ['authorization', 'accept', 'client-id', 'name'],
        methods: {
            loadEmbed: function() {
                let embedWidth = this.$refs.embedWrapper.clientWidth;
                let embedHeight = this.$refs.embedWrapper.clientHeight;

                if (embedWidth === 0) embedWidth = window.innerWidth * 0.7;
                if (embedHeight === 0) embedHeight = window.innerHeight * 0.7;

                new Twitch.Embed("twitch-embed", {
                    width: embedWidth,
                    height: embedHeight,
                    channel: this.channel
                });

                this.embedLoaded = true;
            },
            //Slightly tweaked channel change process, as the login step is not required here.
            switchChannel: function () {
                this.checkIfChannelExists()
                    .then(() => {
                        this.channelRedirect();
                    }, (error) => {
                        this.channelError(error)
                    });
            },
            checkIfChannelExists: function () {
                return new Promise((resolve, reject) => {
                    console.log("Verifying channel");
                    let targetChannelUrl = 'https://api.twitch.tv/kraken/users?login=' + this.channel;

                    axios
                        .get(targetChannelUrl, {headers: this.requestHeaders})
                        .then(response => {
                            console.log(response);
                            let total = response.data._total;

                            if (total > 0) {
                                resolve(response.status);
                            } else {
                                reject(404);
                            }
                        })
                        .catch((error) => {
                            console.log('Error getting channel ID ' + error);
                            reject(-1);
                        });
                });
            },
            channelRedirect: function () {
                console.log("Switching channels.");
                localStorage.setItem('twitch-channel', this.newChannel);
                window.location.reload();
            },
            channelError: function () {
                this.errorMessage = "Oops! That channel doesn't exist.";
            },
            logout: function() {
                console.log("Logging out.");
                localStorage.clear('twitch-channel');
                window.location.href = appUrl + '/logout';
            }
        },
        computed: {
            requestHeaders: function () {
                return {
                    'Accept': this.accept,
                    'Client-ID': this.clientId,
                    // 'Authorization': this.authorization
                }
            }
        }
    }
</script>