<template>
    <div class="card event-card">
        <div class="card-header">
            <div class="event-card-bg" v-if="this.game" v-bind:style="{ backgroundImage: this.backgroundUrl }"></div>
            <div class="event-card-shader"></div>
            <div class="event-card-text">
                <h2>{{game.name}}</h2>
                <p>{{duration.start}} - {{duration.end}}</p>
            </div>
        </div>
        <div class="card-body"></div>
    </div>
</template>

<script>
    export default {
        props: ['game', 'start', 'end'],
        mounted() {
        },
        methods: {
            localizeDateStr: function (date_to_convert_str) {
                var date_to_convert = new Date(date_to_convert_str);
                return date_to_convert.toLocaleString().replace(':00', '');
            }
        },
        computed: {
            duration: function () {
                return {
                    "start": this.localizeDateStr(this.start),
                    "end": this.localizeDateStr(this.end)
                }
            },
            backgroundUrl: function () {
                let urlWithSetSize = this.game.box.template.replace('{width}', 550).replace('{height}', 550);
                return 'url( ' + urlWithSetSize + ')';
            }
        }
    }
</script>
