<template>
    <div class="">
        <div class="row event-list-row">
            <ul class="event-list" v-if="recentEvents.length > 0">
                <li v-for="event in recentEvents" v-bind:key="event._id">
                    <twitch-event-card :game="event.game"
                                       :start="event.start_time"
                                       :end="event.end_time">
                    </twitch-event-card>
                </li>
            </ul>
            <p v-else class="no-events-text">
                Looks like this channel doesn't have any events yet.</p>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['events'],
        mounted() {
        },
        computed: {
            recentEvents: function () {
                if (typeof this.events.slice === 'function') {
                    return this.events.slice(0, 10);
                }
                return {}
            }
        }
    }
</script>
