<template>
    <div class="centered">

        <label for="channel" class="login-label">Who is your favourite streamer today?</label>
        <p class="small">Hint: try "ganroku" to see events.</p>
        <transition name="fade">
        <p class="error-message" v-if="errorMessage">
            {{errorMessage}}
        </p>
        </transition>
        <div class="group">
            <input type="text" id="channel" placeholder="Pick a channel..." required="required" v-model="channel"/>
        </div>

        <a href="#" >
            <button v-on:click="login" class="btn btn-twitch" style="font-size:24px">Log in with Twitch <i class="fa fa-twitch"></i></button>
        </a>
    </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Login loaded.');
        },
        data: function () {
            return {
                channel: "",
                errorMessage: null,
            }
        },
        props: ['accept', 'client-id'],
        methods : {
            login : function() {
                this.checkIfChannelExists()
                    .then (() => {
                        this.loginRedirect();
                    }, (error) => {
                        this.loginError(error)
                    });
            },
            checkIfChannelExists: function() {
                return new Promise((resolve, reject) => {
                    console.log("Verifying channel");
                    let targetChannelUrl = 'https://api.twitch.tv/kraken/users?login=' + this.channel;

                    axios
                        .get(targetChannelUrl, {headers: this.requestHeaders})
                        .then(response => {
                            console.log(response);
                            let total = response.data._total;

                            if (total > 0) {
                                resolve(response.status);
                            } else {
                                reject(404);
                            }
                        })
                        .catch((error) => {
                            console.log('Error getting channel ID ' + error);
                            reject(-1);
                        });
                });
            },
            loginRedirect: function() {
                localStorage.setItem('twitch-channel', this.channel);
                window.location.href = appUrl + '/auth/twitch';
            },
            loginError: function() {
                this.errorMessage = "Oops! That channel doesn't exist. Try another one?";
            }
        },
        computed: {
            requestHeaders: function () {
                return {
                    'Accept' : this.accept,
                    'Client-ID' : this.clientId,
                }
            }
        },
    }
</script>
